.section1 {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;

  .section1-left {
    padding: 10px;
    background: $white;

    .main-section-left {
      min-height: 100%;
      padding: 10px;
      border: 1px dotted $color1;

      h4 {
        font-family: "Allura", cursive;
        color: $color1;
        font-size: 1.4rem;
        font-weight: 200;
      }
      h2 {
        text-transform: uppercase;
        font-family: "Poppins - Bold", serif;
        color: $black;
        font-size: 1rem;
      }
      .logo {
        img {
          height: 20px;
          margin: 20px;
        }
      }
      #text {
        font-size: 0.7rem;
        margin-bottom: 10px;
      }
      img {
        border-radius: 360px;
        height: 50px;
      }
      h6 {
        font-weight: 500;
        font-size: 0.8rem;
        padding-top: 10px;
        font-family: "Poppins", serif;
      }
      #job {
        text-transform: uppercase;
        font-size: 0.6rem;
        font-weight: bold;
        color: $grey;
      }
    }
  }

  .section1-right {
    background: url(../img/store-01.jpg) center/cover;
    width: 100%;
    height: auto;
  }
}
