@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto, serif;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  color: #eee;
  width: 100%;
  height: 400px;
}
header h3 {
  font-family: "Allura";
  color: rgb(166, 114, 69);
  font-size: 2rem;
  font-weight: 200;
}
header h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Poppins";
  letter-spacing: 8px;
}
header img {
  height: 18px;
  margin-top: 10px;
}
header p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7rem;
  margin-top: 20px;
}

nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
}
nav .navigation h3 {
  color: #eee;
  font-size: 1.8rem;
  margin-right: 20px;
  font-weight: 900;
}
nav .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
nav .navigation ul li {
  margin: 20px 20px 50px auto;
  color: #eee;
  text-transform: uppercase;
  font-size: 0.5rem;
  cursor: pointer;
  position: relative;
}
nav .navigation ul li:hover {
  color: rgb(166, 114, 69);
}
nav .navigation ul li::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 37%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  background: rgb(166, 114, 69);
}
nav .socials-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .socials-icons ul {
  padding-left: 30px;
}
nav .socials-icons ul a {
  color: #eee;
  font-size: 0.5rem;
}

.section1 {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
}
.section1 .section1-left {
  padding: 10px;
  background: #eee;
}
.section1 .section1-left .main-section-left {
  min-height: 100%;
  padding: 10px;
  border: 1px dotted rgb(166, 114, 69);
}
.section1 .section1-left .main-section-left h4 {
  font-family: "Allura", cursive;
  color: rgb(166, 114, 69);
  font-size: 1.4rem;
  font-weight: 200;
}
.section1 .section1-left .main-section-left h2 {
  text-transform: uppercase;
  font-family: "Poppins - Bold", serif;
  color: #21201e;
  font-size: 1rem;
}
.section1 .section1-left .main-section-left .logo img {
  height: 20px;
  margin: 20px;
}
.section1 .section1-left .main-section-left #text {
  font-size: 0.7rem;
  margin-bottom: 10px;
}
.section1 .section1-left .main-section-left img {
  border-radius: 360px;
  height: 50px;
}
.section1 .section1-left .main-section-left h6 {
  font-weight: 500;
  font-size: 0.8rem;
  padding-top: 10px;
  font-family: "Poppins", serif;
}
.section1 .section1-left .main-section-left #job {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: bold;
  color: rgb(182, 182, 182);
}
.section1 .section1-right {
  background: url(../img/store-01.jpg) center/cover;
  width: 100%;
  height: auto;
}/*# sourceMappingURL=index.css.map */