@font-face {
  src: url(../fonts/Inter/Inter-VariableFont_slnt\wght.ttf);
  font-family: "Inter";
  src: url(../fonts/Merriweather/Merriweather-Italic.ttf);
  font-family: "Merriweather";
  font-family: "Merriweather-Italic";
}

$black: rgb(16, 16, 16);
$color1: rgb(232, 220, 220);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background: url(../img/bg.jpg) fixed center/cover;
  width: 80%;
  margin: 0 auto;
}
